services:
  curling-tracker-backend:
    build:
      context: curling_tracker_backend
    ports:
      - "5000:5000"
    volumes:
      - curling_tracker_backend_instance:/app/src/instance
    develop:
      watch:
        - action: sync
          path: ./curling_tracker_backend
          target: /app
    environment:
      - FLASK_APP=curling_tracker_backend
      - FLASK_DEBUG=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  curling-tracker-frontend:
    build:
      context: curling_tracker_frontend
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: ./curling_tracker_frontend
          target: /app
volumes:
  curling_tracker_backend_instance: