.matrix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.matrix-row {
  display: flex;
}

.matrix-cell {
  width: 90px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  margin: 2px;
}