services:
  object-detection:
    stdin_open: true
    tty: true
    build:
      context: .
    volumes:
      - ./docker_data:/docker_data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    develop:
      watch:
        - action: sync
          path: .
          target: /object_detection
    networks:
      - label-studio-network
    secrets:
      - api_key

secrets:
  api_key:
    file: ./secrets/label_studio_api_key.txt

networks:
  label-studio-network:
    driver: bridge
    external: true
