services:
  tensorboard:
    image: tensorflow/tensorflow:latest
    command: tensorboard --logdir=/docker_data --host=0.0.0.0 --port=6006
    ports:
      - "6006:6006"
    volumes:
      - ./docker_data:/docker_data
    networks:
      - label-studio-network

  object-detection:
    stdin_open: true
    tty: true
    build:
      context: .
    volumes:
      - ./docker_data:/docker_data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    develop:
      watch:
        - action: sync
          path: .
          target: /object_detection
    networks:
      - label-studio-network
    secrets:
      - api_key
    shm_size: "1gb"

secrets:
  api_key:
    file: ./secrets/label_studio_api_key.txt

networks:
  label-studio-network:
    driver: bridge
    external: true
