.image-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.nav-button:hover {
  color: #111;
}
.nav-button:first-of-type {
  left: 10px;
}
.nav-button:last-of-type {
  right: 10px;
}