.CalibrationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.PointList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.vertical-line {
    border-left: 3px solid #000000; /* Creates the vertical line */
    height: 100%;
    margin: 0 15px; /* Adds spacing around the line */
}